<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{{ urlBase }}images/favicon.ico">

        <title>CV-Generator - The generator of curriculum</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ urlBase }}style/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ urlBase }}style/general.css">
        <script src="{{ urlBase }}script/jquery-1.9.1.js"></script>
        <script src="{{ urlBase }}script/general.js"></script>	


        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <div class="container">

            <form class="form-signin" role="form" >
                <h2 class="form-signin-heading">{{ title }}</h2>
                <input type="text" class="form-control" placeholder="Url do perfil no Linkedin" required autofocus>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Gerar CV</button>
            </form>

        </div> <!-- /container -->


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
    </body>
</html>